@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar{
    //Gradient from http://twitter.com/_ighosh @ http://uigradients.com
    background: #FFB75E; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFB75E , #ED8F03); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFB75E , #ED8F03); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.alert-notice{
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}